pip==20.2.4
fairness-indicators==0.43.0
aequitas==0.42.0
pytest==7.1.2
pytest-cov==4.1.0
Flask==2.3.2
SQLAlchemy==2.0.18
flask-sqlalchemy==3.0.5
tensorboard-plugin-fairness-indicators==0.43.0
tensorboard-plugin-profile==2.13.0
redis==4.6.0
pandas-profiling==3.6.6
kafka-python==2.0.2
msgpack==1.0.5
msgpack-numpy==0.4.8
numba==0.53.1
shap==0.42.0
tqdm==4.65.0
netgraph==4.12.11
scikit-image==0.21.0
scikit-learn==1.3.0
scikit-network==0.31.0
cdlib==0.3.0
networkx==3.1
rustworkx==0.13.0
hyperopt==0.2.7
statsmodels==0.14.0
rasterio==1.3.8
geopandas==0.13.2
shapely==2.0.1
plotly==5.15.0
seaborn==0.12.2
pydot==1.4.2
pydot-ng==2.0.0
ipywidgets==7.7.5
bqplot==0.12.39
tensorflow-datasets==4.9.2
tensorflow-addons==0.19.0
tensorflow-examples @ git+https://github.com/tensorflow/examples.git@a55d94841a9cbf7b3b77d35bf81189fc6010dcc5
tensorflow-io==0.31.0
tensorflow-probability==0.19.0
tensorflow-serving-api==2.11.0
tensorflow-model-optimization==0.7.3
flwr==1.4.0
ray==2.3.0
