openpyxl
fairness_indicators
aequitas
pytest 
pytest-cov
flask
sqlalchemy 
Flask-SQLAlchemy
tensorboard_plugin_profile
tensorboard-plugin-fairness-indicators
redis
pandas-profiling 
great-expectations
kafka-python
msgpack 
msgpack-numpy
numba==0.53.1
shap
tqdm
netgraph
scikit-learn
scikit-image
scikit-network 
networkx 
cdlib
hyperopt
statsmodels
rasterio
geopandas
shapely
plotly
seaborn
pydot 
pydot-ng
ipywidgets 
bqplot    
tensorflow==2.11.0
tensorflow-datasets 
tensorflow-addons==0.19.0 
git+https://github.com/tensorflow/examples.git
tensorflow-io==0.31.0 
tensorflow-probability==0.19.0
tensorflow-serving-api==2.11.0
tensorflow-model-optimization==0.7.3
flwr
ray==2.3.0
POT
cdlib